*.pth
*.pt
*.ckpt

checkpoints/
work_dirs/
logs/
runs/

data/
datasets/
images/
masks/
jpgs/
jsons/

predictions/
outputs/
results/

*.png
*.jpg

__pycache__/
*.pyc

conda/
miniconda3/

*.tar.gz
*.pth
*.pt
checkpoints/
work_dirs/
datasets/
